@import url('https://fonts.googleapis.com/css?family=Muli:800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: inherit;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #fff;
    color: #00a99d;
    width: 100%;
}

.text {
    font-family: 'Muli', sans-serif;
    font-size: 5vw;
    line-height: 6vw;
    font-weight: bold;
    font-variant-ligatures: none;
}

h1 {
    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

.text p, h1 {
    opacity: 0;
    animation: fadein .5s forwards ease-out;
    padding: 2vw 4vw 3vw 3vw;
}

.text a {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    color: inherit;
    padding-left: .5vw;
    padding-right: .5vw;
    margin-left: -.5vw;
    margin-right: -.5vw;
}

.text a:hover {
    color: #A4F5ED;
}

::selection {
    text-decoration: none;
    background: #000;
    color: #fff;
}

@keyframes fadein {
    0% {
        opacity: 0;
        margin-top: 2vw;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}