@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	padding: 0;
	user-select: none;
}

body {
	background: #eeeeee;
	color: #2e2e2e;
	width: 100%;
}

.text {
	font-family: 'Lora', monospace;
	font-size: 6vw;
	font-variant-ligatures: none;
	text-transform: lowercase;
}

.text p,h1 {
	animation: fadein 0.5s forwards ease-out;
	font: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	opacity: 0;
	padding: 0vw 2vw 8vw 2vw;
}

.text a {
	color: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-decoration-skip-ink: auto;
}

.text a:hover {
	color: #555555;
}

@keyframes fadein {
	0% {
		opacity: 0;
		margin-top: 2vw;
	}

	100% {
		opacity: 1;
		margin-top: 0;
	}
}