 @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

* {
  box-sizing: border-box;
}

html {
  background: url('../images/ny.jpg');
}

html, body {
  margin: auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #F4F5F6;
}

p {
  font-size: 1.2em;
  margin: 0 0 40px 0;
}

ul {
  text-transform: uppercase;
  padding: 0;
  font-size: 1.2em;
  margin: 0 0 40px 0;
}

ul li {
  display: inline-block;
  padding: 0;
}

a:visited, a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-weight: 100;
  margin: 0% 0 20px 0;
  line-height: 1;
  font-size: 5em;
}

h2 {
  font-weight: 400;
  font-size: 1.2em;
}

.text {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 4px #303030;
}

.logo {
  background: url('../images/logo_s.png') no-repeat;
  margin: 80px auto 80px;
  width:230px;
  height:230px;
  -webkit-filter: drop-shadow(0px 0px 8px #303030);
  filter: drop-shadow(0px 0px 4px #303030);
}

.footer {
  text-transform: uppercase;
  padding: 0;
  font-size: 1.2em;
  margin: 40px auto;
}

/* future changes

.row {
  margin: auto;
  width: 70%;

.row,
.row>.column {
  padding: 100px;
}

.column {
  float: left;
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  text-align: center;
}

*/
