* {
  box-sizing: border-box;
}

html,
body {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible;
  background: #fcfcfc;
  color: #9d8189;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  font-weight: 300;
  margin: 27px 0;
  line-height: 1.3;
  font-size: 1em;
}

i {
  margin: 27px 0;
  line-height: 1;
  font-size: 8em;
}

ul {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 0 27px;
  margin: 27px 0;
}

a:visited,
a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-weight: 100;
  margin: 0px 0;
  line-height: 1;
  font-size: 4em;
}

h2 {
  font-weight: 300;
  margin: 0;
  line-height: 1;
  font-size: 1em;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 89%;
}

.arrow {
  position: absolute;
  top: 27px;
  left: 27px;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-align: left;
}

.row {
  margin: 0 0;
}

/* Add padding BETWEEN each column (if you want) */

.row,
.row>.column {
  padding: 27px;
}

/* Create four equal columns that floats next to each other */

.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */

.content {
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Responsive layout - header size */

@media screen and (max-width: 460px) {
  h1 {
    font-size: 2em;
    font-weight: 300;
  }
  ul li {
    margin: 0 0;
  }
}